{% extends 'preloans/main.html' %}
{% load static %}
{% block content %}
<h3><center>Car Loan</center></h3>
<p><h4>Dreaming of that car you’ve always wanted? Or upgrading to a family car? We can help you spread the cost of whatever car you’ve got your eye on – new or used. If you’re already a customer with us, we’ll help get you on the road swiftly and smoothly.</h4></p>

<p><h4>Variable rates from 6.8% APR2</h4></p>

<p><h4>Amounts from €2,000 - €65,000</h4></p>

<p><h4>Loan terms from 1 to 5 years</h4></p>

<p><h4>Flexible repayment options - clear your loan early and pay less interest</h4></p>

<p><h4>Option to defer first 3 months’ repayments</h4></p>

<p><h4>No need to hold any savings against your loan</h4></p>

<p><h4>Apply online in 15 minutes  (existing 365 online registered customers)</h4></p>

{% endblock content %}