{% extends 'preloans/main.html' %}
{% load static %}
{% block content %}
<h3><center>Education Loan</center></h3>

<p><h4>Being a graduate means making important life choices. Sorting out your finances after college can be tough at the best of times. Perhaps you need a new PC, your first car or a well-earned break. It offers a fantastic range of benefits to help you on your way.</h4></p>

<p><h4>Variable rates from 5% APR5</h4></p>

<p><h4>Repay your loan over 1–5 years</h4></p>

<p><h4>Repay your loan over 1–5 years</h4></p>

<p><h4>Flexible repayment options</h4></p>

<p><h4>Borrow from €2,000</h4></p>

<p><h4>Quick and easy application</h4></p>

<p><h4>Defer loan repayments</h4></p>

{% endblock content %}

