{% extends 'preloans/main.html' %}
{% load static %}
{% block content %}
<h3><center>Home Improvement Loan</center></h3>

<p><h4>Thinking of that new kitchen? Converting your attic? Extending your home? Get the ball rolling on whatever home improvement project you choose with a home improvement loan.</h4></p>

<p><h4>Variable rates from 6.8% APR</h4></p>

<p><h4>Repay your loan over 1–7 years</h4></p>

<p><h4>Borrow up to €65,000</h4></p>

<p><h4>No hidden fees or charges</h4></p>

{% endblock content %}