{% extends 'preloans/main.html' %}
{% load static %}
{% block content %}
<h3><center>Personal Loan</center></h3>

<p><h4>More flexible terms for personal loans. We have the personal loan to suit your needs; whether it’s a holiday you're planning or that big day out. Use our personal loan calculator to find the terms and payment options that are right for you.</h4></p>

<p><h4>Variable rates from 6.8% APR</h4></p>

<p><h4>Borrow up to €65,000</h4></p>

<p><h4>Repay your loan over 1-5 years</h4></p>

<p><h4>Defer loan repayments</h4></p>

<p><h4>Money paid into your account</h4></p>

<p><h4>Quick and easy application</h4></p>


{% endblock content %}